include components/head
include components/nav


doctype html
html(lang='en')
	+head('Blog')
		link(href='./blog.sass' rel='stylesheet' type='text/css')

	body
		+nav('', '', '', 'u-action-active')

		header
			h1 Coming soon
			p If you'd like to help make sure to join and talk to one of the moderators.
			a.c-action(href='https://discord.gg/xrGAnTg') join us
