@import './variables.sass'

html
	font-size: $size-base

html, body
	overflow-y: hidden

*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-weight: $weight-base
	font-family: 'Catamaran', sans-serif
	font-size: $size-p
	text-rendering: optimizeLegibility

a, button
	margin: 0 1rem
	font-size: $size-action
	font-weight: $weight-action
	color: $colour-nav
	cursor: pointer
	text-decoration: none
	background: transparent
	border: none

h1
	font-size: $size-h1
	font-family: $family-headers
	font-variant: small-caps
	font-weight: $weight-h1

.u-action-active
	color: $colour-action

.c-section
	display: flex
	justify-content: space-around
	width: 95%
	margin: 0 auto
	align-items: center
	p
		white-space: pre-line
	.c-section-description
		width: 45%
	.c-section-img
		width: 45%
		img
			width: 100%

.c-name
	font-size: $size-xxx
	font-weight: $weight-name
	font-family: $family-headers
	font-variant: small-caps


.u-flip-flex-column
	flex-direction: column-reverse

.u-flip-flex-row
	flex-direction: row-reverse

.c-madeby
	margin: 2rem auto

	a, p
		text-align: center
		font-size: $size-mini
		color: $colour-text
		font-weight: $weight-p


p
	font-size: 2rem


nav
	display: flex
	flex-direction: row
	justify-content: space-evenly
	width: 70%
	text-align: center
	margin: 4rem auto
	a
		font-weight: $weight-base
	img, input, label, span
		display: none

@media (max-width: 768px)
	body
		padding: 0