.u-justify
	text-align: justify

.u-center
	text-align: center
	margin: 0 auto
	display: block

.t-rtl
	font-family: "Cairo", sans-serif
	direction: rtl
	line-height: 2
	unicode-bidi: embed

.t-align-right
	text-align: right

.t-rtl blockquote
	text-align: right

	&::before
		right: -5px
		content: "\201d"

.u-unstyledLink
	background: unset
	transition: unset

.u-bold
	font-weight: bold
