mixin nav(home, about, contact, blog)
	nav
		input#nav(type='checkbox')
		label(for='nav')
			span
			span
			span
		img(src='../Assets/VALARIUM.png' alt='Logo')
		.c-nav-desktop
			a(href='./index.pug' class=home) Home
			a(href='./about.pug' class=about) About Us
			a(href='./contact.pug' class=contact) Contact
			a(href='./blog.pug' class=blog) Blog