doctype html

html(lang='en')
	head
		title Welcome to Valarium! - About
		meta(property='og:title' content='Valarium - About')
		meta(property='twitter:title' content='Valarium - About')

		include components/head.pug
		link(href='./about.sass' rel='stylesheet' type='text/css')

	body
		nav
			include components/nav.pug

			.c-nav-desktop
				a(href='./index.pug') Home
				a.u-action-active(href='./about.pug') About Us
				a(href='./contact.pug') Contact
				a(href='./blog.pug') Blog
		.m-sections
			section.c-section
				.c-section-description
					h1 Enjoy safe, fun chats!
					p
						| Our chats are governed by moderators and bots to make it as safe and respectable as possible. By joining you agree to the same rules.
				.c-section-img
					img(src='../Assets/undraw_public_discussion_btnw 1.svg' alt='section image')
			section.c-section.u-flip-flex-row
				.c-section-description
					h1 Enhance your skills
					p
						| Our coding challenges are available in a multitude of programming languages and cover various concepts, ranging in difficulty.
				.c-section-img
					img(src='../Assets/undraw_proud_coder_7ain 1.svg' alt='section image')
			section.c-section
				.c-section-description
					h1 Create & participate
					p
						| Our community is member-driven. Meaning that they’re the ones that create, and the ones that participate, resulting in the benefit of all members involved.
				.c-section-img
					img(src='../Assets/undraw_work_in_progress_uhmv 1.svg' alt='section image')
			section.c-section.u-flip-flex-row
				.c-section-description
					h1 Work together
					p
						| From pair-programming all the way to mentorship and big projects, you can find your perfect match for a perfect project!
				.c-section-img
					img(src='../Assets/undraw_team_goals_hrii 1.svg' alt='section image')
			section.c-section
				.c-section-description
					h1 Always available & free
					p
						| Our community is accessible where ever you have an internet connection, and is always free to join! Wonderful, isn’t it?
				.c-section-img
					img(src='../Assets/undraw_mobile_web_2g8b 1.svg' alt='section image')
		footer
			h1 What are you waiting for?
			p Join now and enjoy all of these perks, and more!
			a.c-action(href='https://discord.gg/xrGAnTg') join now
		.c-madeby
			p Made with ❤️ by Nabil Tharwat