doctype html

html(lang='en')
	head
		title Welcome to Valarium! - Home
		meta(property='og:title' content='Valarium - Home')
		meta(property='twitter:title' content='Valarium - Home')

		include components/head.pug
		link(href='./index.sass' rel='stylesheet' type='text/css')

	body
		header
			nav
				include components/nav.pug
				.c-nav-desktop
					a.u-action-active(href='./index.pug') Home
					a(href='./about.pug') About Us
					a(href='./contact.pug') Contact
					a(href='./blog.pug') Blog

			section.c-section
				.c-section-description
					h1
						| Welcome to
						span.c-name Valarium
					p
						| Egypt&apos;s first online-only youth talent community.
						| We help youngsters get into tech with ease.
						| Join us on our journey!
					a.c-action(href='https://discord.gg/xrGAnTg') join us

				.c-section-img
					img(src='../Assets/undraw_welcoming_xvuq.svg')
