include components/head.pug
include components/nav.pug


doctype html
html(lang='en')
	+head('Submission')

	body
		+nav()

		header
			h1 Form submitted successfully.
			p
				| We'll get back to you as soon as possible. In the meantime, feel free to join us!
			a.c-action(href='https://discord.gg/xrGAnTg') join now
